<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <title>Forte Elixir Store - Robert Murphy</title>
  </head>
  <body>
    <header>
      <section class="container">
        <h1>Forte Elixir Store</h1>
        <h5>I've got what you need.</h5>
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
